# Ignore everything in the root directory
/*

# Except the .gitignore file itself
!.gitignore

# Ignore everything inside the libraries directory
libraries/**

!libraries/intecre ltd/
!libraries/beckhoff/
!libraries/red rock controls limited/